
###> symfony/framework-bundle ###
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
node_modules/
vendor/
var/cache/
var/log/
npm-debug.log
yarn-error.log
public/build/
###< symfony/webpack-encore-bundle ###
