$icomoon-font-family: "PuudelFont" !default;
$icomoon-font-path: "fonts" !default;

$icon-spinner: "\e97a";
$icon-earth: "\e9ca";
$icon-info: "\ea0c";
$icon-arrow-left2: "\ea40";
$icon-question: "\f128";
$icon-search: "\f002";
$icon-envelope-o: "\f003";
$icon-heart: "\f004";
$icon-star: "\f005";
$icon-star-o: "\f006";
$icon-user: "\f007";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-power-off: "\f011";
$icon-cog: "\f013";
$icon-gear: "\f013";
$icon-trash-o: "\f014";
$icon-home: "\f015";
$icon-inbox: "\f01c";
$icon-refresh: "\f021";
$icon-lock: "\f023";
$icon-pencil: "\f040";
$icon-leaf: "\f06c";
$icon-twitter-square: "\f081";
$icon-facebook-square: "\f082";
$icon-cogs: "\f085";
$icon-gears: "\f085";
$icon-sign-in: "\f090";
$icon-phone: "\f095";
$icon-unlock: "\f09c";
$icon-bell-o: "\f0a2";
$icon-floppy-o: "\f0c7";
$icon-save: "\f0c7";
$icon-envelope: "\f0e0";
$icon-cloud-download: "\f0ed";
$icon-quote-left: "\f10d";
$icon-quote-right: "\f10e";
$icon-circle: "\f111";
$icon-unlock-alt: "\f13e";
$icon-play-circle: "\f144";
$icon-file: "\f15b";
$icon-youtube: "\f167";
$icon-instagram: "\f16d";
$icon-paw: "\f1b0";
$icon-tree: "\f1bb";
$icon-paper-plane-o: "\f1d9";
$icon-send-o: "\f1d9";
$icon-sliders: "\f1de";
$icon-futbol-o: "\f1e3";
$icon-soccer-ball-o: "\f1e3";
$icon-bell-slash-o: "\f1f7";
$icon-trash: "\f1f8";
$icon-toggle-off: "\f204";
$icon-toggle-on: "\f205";
$icon-commenting-o: "\f27b";
$icon-pause-circle: "\f28b";
$icon-snapchat-square: "\f2ad";
$icon-user-circle: "\f2bd";
$icon-user-circle-o: "\f2be";
$icon-window-maximize: "\f2d0";
$icon-window-minimize: "\f2d1";
$icon-window-restore: "\f2d2";
$icon-times-rectangle: "\f2d3";
$icon-window-close: "\f2d3";

