{% extends 'base.html.twig' %}

{% block title %}Hello AntyController!{% endblock %}

{% block body %}
<style>
</style>

<div class="container-fluid">

    <h1>Canvas Configuration Example</h1>
    <div id="timerContainer">
        Timer: <span id="timerValue">0</span> seconds
    </div>
    <button id="startButton">Start Animation</button>
    <button id="pauseButton">Pause Animation</button>
    <canvas ></canvas>

        
        





</div>
{% endblock %}
