@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');


body {
    background-color: #161616;
    color: #e3e3e3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
table.table{
    .user-input-row{
        background-color: #080c3f;
        #user_save{
            display: none;
        }
        .save-btn{
            margin-left: -1.3rem;
        }
        .anser-input-cell{
            align-items: center;
        }
    }
    color:  #e3e3e3;
    input{
        background-color: #161616;
        color: #e3e3e3;
        border: 1px solid #057af0;
        border-radius: 5px;
    }
}
:root{
    --bs-primary: #057af0;
    --bs-link-color: var(--bs-primary);
    --bs-table-color: #e3e3e3;
}
.author-box{
    background-color: #161616;
    color: #e3e3e3;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: small;
    float: right;
}
.border{
    border: 1px solid #057af0 !important;
    border-radius: 5px !important;
}
.summary{
    span{
        background-color: #161616;
        color: #e3e3e3;
        font-size: 2rem;
    }
}
table{

    .table-termine{
        background-color: #ffffff23 !important; 
    }
    svg{
        height: 2em;
    }
        .fa-square-check{
            height: 2em;
            color: var(--bs-success);
        }
        .fa-circle-question{
            height: 2em;
            color: var(--bs-warning);
        }
        .fa-square-xmark{
            height: 2em;
            color: var(--bs-danger);
        }
        .fa-star{
            height: 2em;
            color: var(--bs-warning);
        }
    
    
}
